<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Entity SA</title>
</head>

<body style="background-color: #85A1F2">
    <center>

        <h1 style="margin-top:2.5em">
            Entity Based Sentiment Analysis
        </h1>
        <div style="border: thick black solid ; width: fit-content; background-color: aliceblue; margin-top: 5em;">
            <form action = "{{ url_for('predict') }}" method="POST" class="text-center border border-light p-5" >
                <div class="form-group" style="padding:10px;">
                    <input id="inp_entity" style="padding:5px" name = "inp_entity" type="text" class="form-control mb-4" placeholder="Enter Entity"><br>
                    <textarea id="inp_text" style="padding:5px" name="inp_text" cols="40" rows="5" class="form-control mb-4" placeholder="Enter Text"></textarea><br>
                    <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
                </div>
            </form>
        </div>
    </center>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>